<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">  
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Mountie</title>
</head>
<body>
  <header>
    <h1>Mountie</h1>
  </header>
  <section>
    <p>Randomly generated mountains.</p>
    <%= @svg %>
    <button id="new">New mountain!</button>
  </section>
  <script src="/walkway.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $(function(){
      var svg = new Walkway('svg');
      setTimeout(function(){
        svg.draw(function () {
        });
      }, 300);
      $('#new').click(function(){
        location.reload();
      });
    });
  </script>
</body>
</html>